<td>
    <form action="<%= approve_cat_rental_request_url(rental)%>" method='post'>
        <input type="submit" value="Approve">
    </form>
</td>

<td>
    <form action="<%= deny_cat_rental_request_url(rental) %>" method='post'>
        <input type="submit" value="Deny">
    </form>
</td>