<header class='masthead'>

    <nav class='language-nav'>

        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>

    </nav> 

    <img class='logo' src="assets/AA_Times_Logo.png" alt="AA Times Logo">

    <ul class='masthead-links'>
        <li><a href="#">Tuesday, October 18, 2016</a></li>
        <li class='paperorvideo'><a href="#">Today’s Paper</a></li>
        <li><i class="fa fa-video"></i><a class='paperorvideo' href="#">Video</a></li>
        <li><a class='degreeorstock' href="#">77°F</a></li>
        <li><a class='degreeorstock' href="#">AAO <strong>+100%</strong></a></li>
    </ul>
    
</header>