<header class='sections'>

    <ul class='country-links'>
        <li>
            <a href="#">World</a>
        </li>
            <a href="#">San Francisco</a>
        <li>
            <a href="#">New York</a>
        </li>
            <a href="#">Bootcamp Prep</a>
        <li>
            <a href="#">Jumpstart</a>
        </li>
            <a href="#">Online</a>
        <li>
            <a href="#">Marketing</a>
        </li>
            <a href="#">Sales</a>
        <li>
            <a href="#">TalentMatch</a>
        </li>
            <a href="#">Alumni</a>
        <li>
            <a href="#">All</a>
        </li>
    </ul>
</header>