<h1>All the Cats!</h1>

<ul>
    <% @cats.each do |cat| %>
        <li>
            <a href=" <%= cat_url(cat) %> "><%= cat.name %></a>
        </li>
    <% end %>

    <br>
    <% if current_user %>
        <a href="<%= new_cat_url %>"><button>Create a New Cat!</button></a>
    <% end %>
</ul>