<h1>Create a new Cat!</h1>

<%= render 'form', cat: @cat %>

<br>
<a href="<%= cats_url %>"><button>Back to Cats</button></a>

<%= content_for :footer do %>
    <p>This is the new cat page</p>
<% end %>